.nav {
    grid-area: n;
    background-color: rgb(179, 128, 227);
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active {
    border: 2px solid rgb(255, 255, 255);
}