.app-wrapper {
    display: grid;
    width: 1150px;
    margin: 0 auto;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

}

.header {
    grid-area: h;
    background-color: rgb(116, 223, 116);
}

.nav {
    grid-area: n;
    background-color: rgb(179, 128, 227)
}

.content {
    grid-area: c;
    background-color: rgb(220, 145, 145)
}